In [2]:
import os
import pandas as pd

In [3]:
pd.__version__

'2.2.2'

In [17]:
data = pd.ExcelFile ("data/TB 12_2024.xlsx")

In [13]:
data

In [18]:
sheets_name  = data.sheet_names
sheets_name

['DV',
 'Summary',
 'Salary Entry',
 'Salary Status (Aqib & Afaq)',
 'Less Orders (Penalty)',
 'Performance Ded (Mr. Afaq)',
 'Account Reconciliation',
 'Slips PDF',
 'Deduction (Mr.Aqib)',
 'Payables',
 'C3Pay Cardholders',
 'Proactive Deduction',
 'Payrolls on hold',
 'Cash Payroll',
 'Negative Payroll',
 'Summary01',
 'Active Accounts',
 'data-analyticskiste-emailschedu',
 'Passport (Log)',
 'DC (Log)',
 'Traffic Violatons',
 '(-) Adjustments',
 'Compliance',
 'Salik Account',
 'Bike Fine',
 'Fleet Data',
 'Etisalat Bills',
 'Liabilty',
 'T-COD & Clawback-AED',
 'T-Payroll',
 'T-Inventory Deductions',
 'T-Clawback(details)',
 'T-Incentives',
 'Invoice (TB 12-24)',
 'Sheet40',
 'Fine']

In [19]:
for sheet in sheets_name:
    print(sheet)
    print(data.parse(sheet).head(10))
    print("\n\n")

DV
      Salrary Source     Client     Company       City  \
0  C3Pay Cardholders    Talabat    Eltohamy      Dubai
1               Cash       Noon  Fast Rider    Sharjah
2                NaN  Deliveroo         NaN        RAK
3                NaN        NaN         NaN     Al Ain
4                NaN        NaN         NaN  Abu Dhabi
5                NaN        NaN         NaN      Ajman
6                NaN        NaN         NaN        NaN
7                NaN        NaN         NaN        NaN
8                NaN        NaN         NaN        NaN
9                NaN        NaN         NaN        NaN

                           Salary Status
0                              Processed
1                                On Hold
2           On Hold/Due To Legal Doc Exp
3                On Hold/Low Performance
4  On Hold/ Need To Fix Pending Accounts
5     On Hold/Need to Visit Office First
6     On Hold/Need Submit Legal Document
7              On Hold/ DC form Unsigned
8                   On Hold/ On Vacation
9                   On Hold/ Major Fines



Summary
  Unnamed: 0                                         Unnamed: 1  \
0        NaN                 Mohamed Eltohamy Delivery Services
1        NaN  محمد التهامي توصيل الطلبات                \n  ...
2        NaN                                                NaN
3        NaN                             Salary Reconciliation:
4        NaN                                                NaN
5          ▶  Delivery Hero Carriage DB L.L.C  | Invoice | D...
6       Pg-1                                           Category
7        NaN                                     3pl's Invoices
8        NaN                                                NaN
9        NaN                                                NaN

                             Unnamed: 2    Unnamed: 3  Unnamed: 4  Unnamed: 5  \
0                                   NaN           NaN         NaN         NaN
1                                   NaN           NaN         NaN         NaN
2                                   NaN           NaN         NaN         NaN
3                                   NaN           NaN         NaN         NaN
4                                   NaN           NaN         NaN         NaN
5                                   NaN           NaN         NaN         NaN
6                          Sub Category  Invoice Data         NaN         NaN
7  Completed Orders Payment (Ex VAT 5%)    1253607.37         NaN         NaN
8         Incentives and Booster 5% Vat    68653.1365         NaN         NaN
9                        COD Deductions    -218996.96         NaN         NaN

   Unnamed: 6 Unnamed: 7                                         Unnamed: 8  \
0         NaN        NaN                                                NaN
1         NaN        NaN                                                NaN
2         NaN       Pg-3               December-2024 - ''Negative Payroll''
3         NaN        NaN               December-2024 - ''Negative Payroll''
4         NaN        NaN                            Negative Employee Count
5         NaN        NaN                                                NaN
6         NaN       Pg-4  December-2024   |   Rider's Deductions v/s Act...
7         NaN        NaN                                       Descriptions
8         NaN        NaN                                          Liability
9         NaN        NaN                                    Negative Salary

       Unnamed: 9  Unnamed: 10
0             NaN          NaN
1             NaN          NaN
2             NaN          NaN
3             NaN   -64163.517
4             NaN           52
5             NaN          NaN
6             NaN          NaN
7  Deduction Data  Actual Data
8        16607.78          NaN
9        55018.67          NaN



Salary Entry
      SEQ Unnamed: 1                                         Unnamed: 2  \
0       1          2                                                  3
1  ELT ID         ID                                      Employee Name
2   R1530     797885                  Muhammad Shahbaz Muhammad Hussain
3   R1507    1570655  Syed Luqman Mustafa Shah Syed Ghulam Mustafa Shah
4   R1517     665392                      Muhammad Awais Muhammad Anwar
5   R1504     858321                          Muhammad Amjad Niamat Ali
6   R1503     886018                  Sharjeel Shahbaz Muhammad Shahbaz
7   R1506     842732                      Muhammad Rameez Ghulam Sarwar
8   R1639    1478997                       Muhammad Shahbaz Irshaad Ali
9   R1712    1985262                      Muhammad Jabbar Atta Muhammad

          Unnamed: 3    Unnamed: 4 Unnamed: 5           Unnamed: 6  \
0                  4             5          6                    7
1     Salrary Source  Working City    Vehicle        Starting Date
2  C3Pay Cardholders           Rak      99021  2025-01-07 00:00:00
3  C3Pay Cardholders         Dubai      42268  2024-03-12 00:00:00
4  C3Pay Cardholders       Sharjah      98609  2024-07-20 00:00:00
5  C3Pay Cardholders           Rak      99024  2025-01-07 00:00:00
6  C3Pay Cardholders       Sharjah      99163  2024-12-06 00:00:00
7  C3Pay Cardholders       Sharjah      97123  2025-01-20 00:00:00
8  C3Pay Cardholders         Dubai      69780  2025-01-20 00:00:00
9  C3Pay Cardholders         Dubai      65403  2024-11-22 00:00:00

      Unnamed: 7          115197           122038  ... Unnamed: 51  \
0              8               9               10  ...          52
1          Month  Pick Up Counts  DroppOff Counts  ...       Salik
2  December-2024             630              694  ...         NaN
3  December-2024             622              634  ...         NaN
4  December-2024             602              637  ...         NaN
5  December-2024             601              671  ...         NaN
6  December-2024             596              660  ...         NaN
7  December-2024             594              630  ...         NaN
8  December-2024             578              606  ...         NaN
9  December-2024             572              604  ...         NaN

    Unnamed: 52          Unnamed: 53  Unnamed: 54 Unnamed: 55  \
0            53                   54           55          56
1  Visa Account  Performance Penalty  Food Permit    Comments
2           NaN                  NaN          NaN         NaN
3           NaN                  NaN          NaN         NaN
4           NaN                  NaN          NaN         NaN
5           NaN                  NaN          NaN         NaN
6           NaN                  NaN          NaN         NaN
7           NaN                  NaN          NaN         NaN
8           NaN                  NaN          NaN         NaN
9           NaN                  NaN          NaN         NaN

                Unnamed: 56      Unnamed: 57     Unnamed: 58 Unnamed: 59  \
0                        57               58              59         NaN
1  Assets & Courier Charges  Document Update  Advance Salary         NaN
2                       NaN              NaN             NaN         NaN
3                       NaN              NaN             NaN         NaN
4                       NaN              NaN             NaN         NaN
5                       NaN              NaN             NaN         NaN
6                       NaN              NaN             NaN         NaN
7                       NaN              NaN             NaN         NaN
8                       NaN              NaN             NaN         NaN
9                       NaN              NaN             NaN         NaN

      Unnamed: 60
0             NaN
1  Advance Salary
2             NaN
3             NaN
4             NaN
5             NaN
6             NaN
7             NaN
8             NaN
9             NaN

[10 rows x 61 columns]



Salary Status (Aqib & Afaq)
  Unnamed: 0 Unnamed: 1 Unnamed: 2  \
0        NaN        NaN        NaN
1         SR     ELT ID         ID
2          1      R1530     797885
3          2      R1507    1570655
4          3      R1517     665392
5          4      R1504     858321
6          5      R1503     886018
7          6      R1506     842732
8          7      R1639    1478997
9          8      R1712    1985262

                                       Salary Status  Unnamed: 4  \
0                                                NaN  500492.564
1                                      Employee Name  Net Salary
2                  Muhammad Shahbaz Muhammad Hussain     4550.29
3  Syed Luqman Mustafa Shah Syed Ghulam Mustafa Shah        4611
4                      Muhammad Awais Muhammad Anwar     3758.22
5                          Muhammad Amjad Niamat Ali      3752.4
6                  Sharjeel Shahbaz Muhammad Shahbaz     3740.97
7                      Muhammad Rameez Ghulam Sarwar        4630
8                       Muhammad Shahbaz Irshaad Ali     3782.27
9                      Muhammad Jabbar Atta Muhammad     2596.59

            Unnamed: 5  Unnamed: 6         Unnamed: 7  \
0                  NaN         NaN  Status Change (A)
1  Final Salary Status         NaN     Current Status
2            Processed         NaN             Active
3            Processed         NaN             Active
4            Processed         NaN             Active
5            Processed         NaN             Active
6            Processed         NaN             Active
7            Processed         NaN           Inactive
8            Processed         NaN             Active
9            Processed         NaN             Active

                   Unnamed: 8                            Unnamed: 9
0                         NaN                                   NaN
1                     Remarks  Salary Action Required (Aqib & Afaq)
2                         NaN                             Processed
3                         NaN                             Processed
4                         NaN                             Processed
5                         NaN                             Processed
6                         NaN                             Processed
7  Vacation Less than 30 Days                             Processed
8                         NaN                             Processed
9                         NaN                             Processed



Less Orders (Penalty)
  Unnamed: 0 Unnamed: 1 Unnamed: 2                                 Unnamed: 3  \
0        NaN        NaN        NaN                                        NaN
1         SR     ELT ID         ID                              Employee Name
2          1      R1761    2101528             Muhammad Iqbal Muhammad Bashir
3          2      R1502    1970641                     Arif Javed Javed Ahmad
4          3      R1731    2059743                Abdul Wahab Muhammad Saleem
5          4      R1945    2438886             Muhammad Asif Abdul Hameed Asi
6          5      R1534     834364                       Saqib Ali Ashraf Ali
7          6      R1601    1178114                         Umar Ali Zahid Ali
8          7      R1724    2052175           Abdalsalam Gaber Ahmed Abdalnabi
9          8      R1904    2189371  Muhammad Zeeshan Muhammad Akram Shad Shad

       Unnamed: 4       Unnamed: 5  Unnamed: 6  \
0             NaN              NaN         NaN
1  Pick Up Counts  DroppOff Counts  Net Salary
2             332              348     -93.984
3             328              341      24.184
4             328              347     2135.01
5             327              338     785.999
6             319              329     2433.25
7             317              336     1691.49
8             316              326     111.586
9             313              331     1341.68

                           Unnamed: 7  Unnamed: 8  Less Orders  (A)  \
0                                 NaN         NaN  Perfonce Penalty
1                 Final Salary Status         NaN              2150
2                           Processed         NaN               NaN
3                On Hold/ On Vacation         NaN               NaN
4                           Processed         NaN               NaN
5                           Processed         NaN               NaN
6  On Hold/Need Submit Legal Document         NaN               NaN
7                           Processed         NaN               NaN
8        On Hold/Due To Legal Doc Exp         NaN               NaN
9                           Processed         NaN               NaN

         Unnamed: 10          Unnamed: 11 Unnamed: 12
0  Low Order Penalty         Joining Date      Status
1               7006                  NaN         NaN
2                  6  2024-11-12 00:00:00      Active
3                  0  2025-01-13 00:00:00    Stand By
4                  9  2025-01-06 00:00:00      Active
5                  0  2025-01-25 00:00:00      Active
6                  0  2024-10-23 00:00:00      Active
7                 42  2024-11-07 00:00:00      Active
8                  0  2024-12-05 00:00:00      Active
9                 57  2024-12-09 00:00:00      Active



Performance Ded (Mr. Afaq)
  Unnamed: 0                         Unnamed: 1    Unnamed: 2  \
0   rider_id                         rider_name  Working Days
1      63937       MUHAMMAD ARSHAD BASHIR AHMAD            30
2      75531     Muhammad Farhan Muhammad Fazil            29
3     325444  Muhammad Mushtafa Muhammad Ashraf            28
4     442816    Muhammad Tanveer Muhammad Jamil            31
5     477872      Muhammad Raza Muhammad Ashraf            29
6     593923        Wajid Hussain Sabir Hussain            31
7     615164              IMRAN ALI SALAMAT ALI            30
8     665392      Muhammad Awais Muhammad Anwar            31
9     736512          Waqar Ansar Ghazanfar Ali            24

                80063.9                   2993.5       3253.4  \
0  Actual Working Hours  Avg. Working Hours/ Day  Break Hours
1                   274                      9.1         20.6
2                 260.5                        9          2.2
3                 292.7                     10.5            1
4                 259.7                      8.4            8
5                 257.6                      8.9          0.3
6                 315.3                     10.2            3
7                 282.6                      9.4          3.2
8                 311.7                     10.1          5.9
9                 203.2                      8.5          2.9

                1179             349                 1345      30623.89155  \
0  late_login_shifts  No Show Shifts  Manual Undispatches  Acceptance Rate
1                  0               0                   14        96.907216
2                  0               0                    0        99.750623
3                  1               2                    0        95.490716
4                  1               0                    0        97.522523
5                 12               0                    0        99.790795
6                  7               0                    0        99.292035
7                  0               0                    2        99.607843
8                  0               0                   10        98.338369
9                  1               4                    0        99.212598

    Unnamed: 10                 3150         Unnamed: 12
0  Total Orders  Performance Penalty  Late Login Minutes
1           430                  NaN           10.333333
2           375                  NaN           15.133333
3           339                  NaN               22.55
4           401                  NaN          283.333333
5           444                  NaN          564.466667
6           525                  NaN          114.716667
7           449                  NaN            2.516667
8           602                  NaN                1.15
9           244                  100          336.416667



Account Reconciliation
  Unnamed: 0          Unnamed: 1               Unnamed: 2  \
0        NaN                 NaN  Account Reconciliation
1        NaN                 NaN                      NaN
2        NaN   C3Pay Cardholders               473713.498
3        NaN  Transferred Salary                        0
4        NaN          Difference               473713.498
5        NaN                 NaN                      NaN
6         Sr              ELT ID                       ID
7          1               R1506                   842732
8          2               R1507                  1570655
9          3               R1530                   797885

                                          Unnamed: 3  Unnamed: 4  \
0                                                NaN         NaN
1                                                NaN         NaN
2                                                NaN         NaN
3                                                NaN         NaN
4                                                NaN         NaN
5                                   Unmatched Amount -436329.047
6                                      Employee Name  Net Salary
7                      Muhammad Rameez Ghulam Sarwar        4630
8  Syed Luqman Mustafa Shah Syed Ghulam Mustafa Shah        4611
9                  Muhammad Shahbaz Muhammad Hussain     4550.29

           Unnamed: 5     Unnamed: 6         Unnamed: 7  Unnamed: 8  \
0                 NaN            NaN                NaN         NaN
1                 NaN            NaN                NaN         NaN
2                 NaN            NaN                NaN         NaN
3                 NaN            NaN                NaN         NaN
4                 NaN            NaN                NaN         NaN
5                 NaN            NaN                NaN         NaN
6  Amount Transferred  Salary Status                NaN         NaN
7                   0      Processed  C3Pay Cardholders         NaN
8                   0      Processed  C3Pay Cardholders         NaN
9                   0      Processed  C3Pay Cardholders         NaN

   Unnamed: 9  ...                                        Unnamed: 25  \
0         NaN  ...                                                NaN
1         NaN  ...                                      Employee Name
2         NaN  ...                      Muhammad Rameez Ghulam Sarwar
3         NaN  ...  Syed Luqman Mustafa Shah Syed Ghulam Mustafa Shah
4         NaN  ...                  Muhammad Shahbaz Muhammad Hussain
5         NaN  ...                 Muhammad Rehman Munir Ahmad Shafiq
6         NaN  ...                          Maroof Ali Khalid Hussain
7         NaN  ...                        Muhammad Usama Abdul Rehman
8         NaN  ...                          Ahmad Raza Ghulam Hussain
9         NaN  ...                      Muhammad Tayyab Muhammad Amin

   Unnamed: 26         Unnamed: 27         Unnamed: 28  Unnamed: 29  \
0          NaN                 NaN                   0          NaN
1   Net Salary  Registered ID Eden  Amount Transferred   Difference
2         4630              842732                   0         4630
3         4611             1570655                   0         4611
4      4550.29              797885                   0      4550.29
5         4240             2100967                   0         4240
6      4162.51             1466171                   0      4162.51
7      3942.29             1599614                   0      3942.29
8         3909             1414313                   0         3909
9      3890.59             1157936                   0      3890.59

   Unnamed: 30  Unnamed: 31  Unnamed: 32    Unnamed: 33   Unnamed: 34
0          NaN          NaN          NaN            NaN           NaN
1      Results          NaN  Employee ID  Employee Name  Total Amount
2      UnMatch          NaN          NaN            NaN           NaN
3      UnMatch          NaN          NaN            NaN           NaN

In [20]:
df = data.parse('Salary Entry').drop
df

,SEQ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,115197,122038,...,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60
0,1,2,3,4,5,6,7,8,9,10,...,52,53,54,55,56,57,58,59,NaN,NaN
1,ELT ID,ID,Employee Name,Salrary Source,Working City,Vehicle,Starting Date,Month,Pick Up Counts,DroppOff Counts,...,Salik,Visa Account,Performance Penalty,Food Permit,Comments,Assets & Courier Charges,Document Update,Advance Salary,NaN,Advance Salary
2,R1530,797885,Muhammad Shahbaz Muhammad Hussain,C3Pay Cardholders,Rak,99021,2025-01-07 00:00:00,December-2024,630,694,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,R1507,1570655,Syed Luqman Mustafa Shah Syed Ghulam Mustafa Shah,C3Pay Cardholders,Dubai,42268,2024-03-12 00:00:00,December-2024,622,634,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,R1517,665392,Muhammad Awais Muhammad Anwar,C3Pay Cardholders,Sharjah,98609,2024-07-20 00:00:00,December-2024,602,637,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322,R1743,2071919,Bilal Ahmad Rang Elahi,C3Pay Cardholders,Rak,94135,2024-12-31 00:00:00,December-2024,5,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
323,R1978,2499140,Luqman Saif Saif Ali,C3Pay Cardholders,Dubai,69265,2024-12-30 00:00:00,December-2024,5,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
324,R1750,2088738,Farman Ali Muhammad Irfan,C3Pay Cardholders,Sharjah,3453,2024-11-26 00:00:00,December-2024,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
325,R1969,1578759,Muhammad Hamdan Muhammad Sultan,C3Pay Cardholders,Dubai,65775,2025-01-14 00:00:00,December-2024,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
326,R1959,1587851,Ali Raza Bashir Ahmad,C3Pay Cardholders,Sharjah,97124,2024-12-05 00:00:00,December-2024,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN