# Description

In [1]:
import pandas as pd
import os
from datetime import datetime

In [2]:
file_name = '../data/Dec Data.xlsx'

if os.path.exists(file_name):
    print('File exists')
else:
    print (os.listdir('../data'))
    assert False, 'File does not exist'

File exists

In [3]:
excel = pd.ExcelFile(file_name)
excel.sheet_names

['Salik Dec', 'Fine Dec', 'Bike History']

In [4]:
salik_sheets = [sheet for sheet in excel.sheet_names if 'salik' in sheet.lower()]
print(salik_sheets)

['Salik Dec']

In [6]:
df = excel.parse ("Salik Dec")
df.head()

   Transaction ID  Sponser  Trip Date  Plate  Amount (AED)
0     30701884457  Marahah 2024-11-30  45447          4.25
1     10813081408  Marahah 2024-12-31  53068          4.25
2     50413081500  Marahah 2024-12-31  17352          4.25
3     80812981498  Marahah 2024-12-31  30951          4.25
4     20912981696  Marahah 2024-12-31  53068          4.25

In [8]:
df.isna().sum()

Transaction ID    0
Sponser           0
Trip Date         0
Plate             0
Amount (AED)      0
dtype: int64

In [9]:
# data is clean but change dates to standard time fame

In [13]:
df['Trip Date'][0].day

30